<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
        <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}">
        <!-- First adds the page title if specified, then adds the site title -->
        <title>{% if page.title %}{{ page.title }} - {% endif %}alans-site</title>
    </head>
    <body>
        <div class="container">
            {% include navigation.html %}
            <main>
                {{ content }}
                <h2>Recent Posts</h2>
                <ul class="post-list">
                    {% for post in site.posts limit:5 %}
                        <li class="post-list-item"><h4><a href="{{ post.url }}">{{ post.title }}</a></h4></li>
                    {% endfor %}
                </ul>
            </main>
        </div>
    </body>
</html>
